name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    # All commands run inside the Summit folder
    defaults:
      run:
        working-directory: Summit

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore SummitApi.csproj

      - name: Build
        run: dotnet build SummitApi.csproj --no-restore --configuration Release

